body {
    background-color: rgba(228, 222, 254, 1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    margin-top: 40px;
}

[class^="ant-form"] ,
.ant-typography {
    font-size: 12px;
    font-family: "Noto Sans", sans-serif !important;
}
.ant-form-item {
    margin-bottom: 20px;
}

.ant-checkbox .ant-checkbox-inner {
    width: 24px;
    height: 24px;
}

.ant-checkbox-wrapper,
.ant-radio-wrapper{
    font-size: 16px;
}

.ant-form-item .ant-form-item-explain-error {
    margin-top: 10px;
}

.content-down {
    margin-left: 20px;
    width: 100%;
}

.form-container {
    width: 760px;
    margin: 50px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 10px 25px 35px;
    margin: 40px 40px 70px;
}

.form-group select {
    height: 56px !important;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-group label {
    margin-bottom: 8px;
    color: #666666;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select {
    padding: 17px;
    width: 614px;
    border-radius: 8px;
    box-shadow: 0px 4px 3px #ccc;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group select:focus {
    border: 1px solid #7A5CFA !important;
    outline: 1px solid #7A5CFA !important;
}

.ant-input-outlined:hover {
    border: 1px solid #7A5CFA !important;
    outline: 1px solid #7A5CFA !important;
}

/* Checkbox */
input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.form-group select,
.toggle-switch-container,
.width-radio {
    width: 612px;
}

.form-group input[type="radio"] {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    accent-color: #7A5CFA;
}

::placeholder {
    font-size: 16px !important;
    font-weight: 400;
    text-shadow: 0 1px #ffffff;
}

.title {
    margin-bottom: 8px;
    color: #666666;
    text-shadow: 0 1px #CCCCCC;
    font-weight: 600;
}

.notice {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
    text-shadow: 0 1px #CCCCCC;
}

.dropdown,
.custom-option {
    width: 614px;
    height: 58px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #7A5CFA;
    border-color: #7A5CFA;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: #7A5CFA;
    border-color: transparent;
}

.ant-switch.ant-switch-checked {
    background: #7A5CFA !important;
    margin-bottom: 4px;
}

.ant-switch {
    margin-bottom: 4px;
}

.switch-mode {
    padding-left: 10px;
    font-size: 16px;
    color: #666666;
}

.ant-radio-wrapper .ant-radio-checked::after {
    border: 1px solid #7A5CFA;
}


.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #7A5CFA;
    background-color: #7A5CFA;
}

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #7A5CFA !important;
    color: white;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector:hover{
    border-color: 1px solid #7A5CFA !important;
    outline: 1px solid #7A5CFA !important;
}

 .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
    border-color: 1px solid #7A5CFA !important;
    outline: 1px solid #7A5CFA !important;
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: 1px solid #7A5CFA !important;
    outline: 1px solid #7A5CFA !important;
}

.ant-select-dropdown .ant-select-item {
    padding: 18px 10px;
}

.form-buttons button {
    margin-bottom: 40px;
    width: 172px;
    height: 56px;
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(122, 92, 250, 1);
    cursor: pointer;
}

.nextBtn {
    float: right;
    background-color: rgba(122, 92, 250, 1);
    color: #fff;
}

.nextBtn:hover {
    background-color: #6862a0;
}

.cancelBtn {
    border-color: rgba(122, 92, 250, 1);
    background-color: #fff;
    color: rgba(122, 92, 250, 1);
}

.dropdown-title {
    margin-bottom: 10px;
}

.cancelBtn:hover {
    background-color: #dddad08c;
}

.radio-item {
    margin: 12px 0;
}

.ant-checkbox .ant-checkbox-inner:after{
    top: 46%;
    width: 7.714286px;
    height: 15.142857px;
}
