body {
    font-size: 16px;
}

.btn-add {
    float: right;
    width: 100px;
    height: 40px;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #7A5CFA;
    color: white;
}

.ant-btn {
    font-size: 16px;
    font-weight: 600;
}

.btn-edit {
    margin-right: 20px;
    height: 40px;
    width: 70px;
}

.btn-delete {
    margin-right: 20px;
    height: 40px;
    width: 100px;
}

.ant-modal .ant-modal-footer >.ant-btn+.ant-btn,
.ant-modal .ant-modal-footer >.ant-btn {
    height: 40px;
}

.titleUserList {
    margin-top: 40px;
}